.about-container {
  @include container-base;
  margin: 0 auto;
  margin-top: 10vh;
  flex-wrap: wrap;
}

.about-photo {
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  min-width: 400px;
  margin-bottom: 2em;
  animation: moveInLeft 1s ease-out;
}

.about-txt {
  @include txt-base;
  animation: moveInRight 1s ease-out;
}
