.about-container {
  @include container-base;
  margin: 5vh auto;
  flex-wrap: wrap;
}

.about-photo {
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  min-width: 320px;
  margin-bottom: 2em;
}

.about-txt {
  @include txt-base;
}
